html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
}

.banner {
    height: 100vh;
    /* background: linear-gradient(to right, #6a11cb, #2575fc); */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/banner.png') no-repeat center center/cover;
    color: white;
    padding-top: 35vh;
    background-attachment: fixed;
}

.subtitle {
    font-style: italic;
}

@media (min-width: 1300px) {
    .subtitle {
        width: 1200px;
        margin: auto;
    }
}

@media (max-height: 700px) {
    .banner {
        padding-top: 15vh;
    }
}

@media (max-width: 989px) {
    .banner {
        background-attachment: scroll;
    }
}

.down_arrow {
    height: 50px;
    width: 50px;
    box-shadow: 0 0;
    display: inline-block;
    margin: 16px auto;
    transition: transform 0.3s ease;
}

.down_arrow:hover {
    transform: translateY(50%);
}


h1, h2 {
    margin-bottom: 1rem;
}

img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
}

footer p {
    margin: 0;
}

button {
    background-color: #6a11cb;
    border: none;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #06bee1;
    /* background-color: #1768ac; */
}

.accordion-button {
    background: #f8f9fa;
    color: #333;
    font-weight: bold;
    border: none;
}

.accordion-button:not(.collapsed) {
    color: white;
    background: #1768ac;
}

.accordion-button {
    background: #f8f9fa;
    color: #333;
    font-weight: bold;
    border: none;
    padding: 1rem;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.accordion-button:not(.collapsed) {
    color: white;
    background: #1768ac;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.accordion-collapse {
    transition: height 0.3s ease;
    overflow: hidden;
}

.accordion-body {
    padding: 1rem;
    background-color: #eef1f7;
    border-radius: 0 0 5px 5px;
}

.accordion-item {
    margin-bottom: 1rem;
    border: none;
}

.accordion-button::after {
    transition: transform 0.3s;
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);
}

.banner .modern-button {
    margin-top: 4vh;
    display: inline-block;
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
    /* color: white;
    background: #1768ac; */
    color: black;
    background: white;
    border: none;
    border-radius: 35px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.banner .modern-button:hover {
    background: #06bee1;
    /* color: white; */
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.banner .modern-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.contact-item {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 1.2em;
}

.contact-item .icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    box-shadow: 0 0;
}

.podium {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 80px;
}

.silver {
    background-color: #c0c0c0;
    width: 200px;
    height: 300px;
    margin-top: 100px;
    /* justify-content: center; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-right: 0px;
    border-top-left-radius: 20px;
}

.gold {
    background-color: #ffd700;
    width: 200px;
    height: 400px;
    border: 2px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bronze {
    background-color: #cd7f32;
    width: 200px;
    height: 200px;
    margin-top: 200px;
    border: 2px solid black;
    border-left: 0px;
    border-top-right-radius: 20px;
}

.podium-place {
    color: white;
    font-size: 120px;
    position: relative;
    top: -50px;
}

.podium-prize {
    color: black;
    font-size: 40px;
    position: relative;
    top: -50px;
    margin-bottom: 0px;
}

@media (max-width: 700px) {
    .silver {
        height: 160px;
        margin-top: 80px;
    }
    
    .gold {
        height: 240px;
    }
    
    .bronze {
        height: 120px;
        margin-top: 120px;
    }
    .podium-place {
        font-size: 80px;
        top: -30px;
    }
}

@media (max-width: 800px) {
    .podium {
        margin-top: 6vh;
    }
    .podium-prize {
        font-size: 4vw;
        font-weight: bold;
        top: -30px;
    }
}

@media (max-width: 500px) {
    .podium-prize {
        font-size: 6vw;
        font-weight: bold;
        top: -30px;
    }
}